<!DOCTYPE html>
<html ng-app="journeygram">
	<head lang="en">
		<meta charset="UTF-8">
		<title>JourneyGram</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Raleway:300,700,300italic,700italic' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
		<link rel="stylesheet" type="text/css" href="/styles/normalize.css">
		<link rel="stylesheet" type="text/css" href="/styles/style.css">
	</head>

	<body>
		<ui-view></ui-view>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.13/angular-ui-router.js"></script>
		<script src="https://code.jquery.com/jquery-1.12.2.js"></script>
		<script src="/scripts/app.js"></script>
		<script src="/scripts/controllers/JourneyMapCtrl.js"></script>
		
		<h1>Add a marker!</h1>
		
		<div ng-controller="MapController">
			<form novalidate id="marker-form">
				<table>
					<tr>
						<td>Latitude:</td>
						<td><input type="number" ng-model="city.latitude" /></td>
					</tr>
					<tr>
						<td>Longitude:</td>
						<td><input type="number" ng-model="city.longitude" /></td>
					</tr>
					<tr>
						<td style="padding-right: 25px;">Marker Name:</td>
						<td><input type="text" ng-model="city.name" /></td>
					</tr>
					<tr>
						<td style="padding-top: 15px;"><input type="submit" ng-click="addMarker(city)" value="Add Marker" /></td>
					</tr>
				</table>
			</form>
			<pre>city = {{city | json}}</pre>
			<pre>master = {{master | json}}</pre>
		</div>
		
		<div id="map" style="width: 100%; height: 500px; margin: 25px auto;">
		</div>

		<script>
			angular.module('mapForm', [])
				.controller('MapController', ['$scope', function($scope) {
					$scope.master = {};
					
					$scope.addMarker = function(city) {
						$scope.master = angular.copy(city);
					};
				}]);
		</script>
		
		
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCZ_PQVMP8er9QldMQu5tepjhSXtGEHcA0&callback=initMap"
    async defer></script>
		<script>
			var map;
			
			function initMap() {
				map = new google.maps.Map(document.getElementById('map'), {
					center: {lat: 39.6133, lng: -105.0166},
					zoom: 8
				});

				var marker = new google.maps.Marker({
					position: {lat: 39.6133, lng: -105.0166},
					map: map,
					title: 'Littleton'
				});
				
				//function that adds markers
				var addMarker = function(newLat, newLng, markerTitle) {
					var newMarker = new google.maps.Marker({
						position: {lat: newLat, lng: newLng},
						map: map,
						title: markerTitle
					});
				}
				
				addMarker(38.8339, -104.8214, "The Springs!");
								
			}
			
			

				
//			addMarker(38.8339, -104.8214, "The Springs!");

		</script>
		
	</body>
	
	

</html>